#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  margin-top: 56px;
  padding-top: 2rem;
}
.carousel {
  aspect-ratio: 2/1;
}